# Pandas Demo
##### Pandas is a Data Science Tool

Importing the Panda's Database into the program.

In [11]:
import pandas as pd

### Panda's Data Table Representation

In [12]:
df = pd.DataFrame
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(df)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Selecting Certain Data Values/Columns from the `Data Frame`

In [13]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

## Creating a Series from Scratch

In [14]:
ages = pd.Series([22, 35, 58], name = "Age")
print(ages + 1)

0    23
1    36
2    59
Name: Age, dtype: int64

### Using Methods on `Data Frame`

In [15]:
df["Age"].max()

58

### Using Methods on ``Series``

In [16]:
ages.max()

58

## Basic statistics of Numerical Data

In [17]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000